@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }
.projects-grid {
    grid-template-columns: 1fr;
  }
}
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-red);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}